* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: url("images/pic3.jpg") center/cover no-repeat;
  /* background-position: left 19% bottom 28%; */
  object-fit: cover;
  height: 100vh;
  width: 100%;
}
.head-text {
  text-align: center;
  /* padding: 5rem; */
  color: white;
  font-size: 4rem;
  margin-top: 2rem;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  width: 100%;
}
#countdown-text {
  font-size: clamp(18px, 3vw, 64px);
}
.count-down {
  text-align: center;
  margin: auto;
  color: white;
  vertical-align: middle;
  width: 100%;
  font-size: clamp(1rem, 2vw, 3.5rem);
  /* animation: slideUp 0.75s 0.5s cubic-bezier(0.17, 0.88, 0.32, 1.27) both,
    fadeIn 0.25s 0.5s ease-in both; */
}
